<!DOCTYPE html>
<html lang="en">
<head>
        <% include ../partials/head.ejs %>
</head>
<body>
    <!-- top nav -->
    <% include ../partials/nav.ejs %>

    <!-- Macarons -->
    <div class="container">
       
        <div class="row">
            <%treats.forEach((macaron, index) => {%>        
                <div class="col s6 m4 l3">
                    <div class="card small">
                        <div class="card-image">
                            <img src="<%=macaron.image%>">
                            <span class="card-title"><%=macaron.name.toUpperCase()%></span>
                        </div>
                        <div class="card-content">
                            <p><%=macaron.description%></p>
                            <p>Price: $<%=macaron.unitPrice%>0</p>
                        </div>
                        <div class="card-action">
                            <form action="/macarons/<%=macaron.id%>?_method=DELETE" method="POST">
                                <input type="submit" name="delete" id="delete" value="DELETE" class="btn lime">
                            </form>
                            <a href="macarons/<%=macaron.id%>/edit" class="card-link">Edit</a>
                        </div>
                    </div>
                
                </div> 
            <%})%>
        </div>
        
  
       
        
    </div>



    <!-- bottom / Store Info -->

    <% include ../partials/footer.ejs%>
</body>
</html>